{% extends 'base.html' %}
{% load static %}


{% block content %}

  
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500,600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

</style>

<!-- Buttons -->

  
  
    <div class="relative h-screen w-full flex items-center justify-center text-center bg-cover bg-center" style="background-image:url(https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=600);">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"></div>
    
    <main class="px-4 lg:px-8 z-10 sm:max-w-3xl sm:mx-auto">
          <div class="text-center">
            <h2 class="text-2xl tracking-tight leading-10 font-medium sm:text-3xl text-white md:text-4xl">
               Problem Statement
            </h2>
            <div class="py-5 text-sm font-regular text-white flex items-center justify-center">
        <span class="mr-3 flex flex-row items-center">
        <svg class="text-indigo-600" fill="currentColor" height="13px" width="13px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  
  </svg>
        
      </div>
          </div>
        </main>
    
  </div>
    
    <div class="max-w-6xl mx-auto">
      <div class="mt-3 bg-gradient-to-r from-slate-300 to-slate-500 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
          <div class="">
                
            
            <h3 class="text-2xl font-bold my-5">1. Current methods are slow and prone to human error.</h3> 
            

            <h3 class="text-2xl font-bold my-5">2. Delayed diagnoses and misclassifications can impact patient outcomes.</h3> 
            
            <h3 class="text-2xl font-bold my-5">3. A pressing need for faster, precise, and reliable thyroid detection.</h3> 
            

            <h3 class="text-2xl font-bold my-5">4. AI technology offers the potential for improved thyroid disorder diagnosis</h3>
            
            <h3 class="text-2xl font-bold my-5">5. Efficient, accurate, and automated diagnosis is the desired outcome.</h3>

            <h3 class="text-2xl font-bold my-5">6. Overcoming limitations of traditional methods is a primary goal.</h3>

            <h3 class="text-2xl font-bold my-5">7. Early detection can lead to better patient care and outcomes.</h3>

            <h3 class="text-2xl font-bold my-5">8. Manual interpretation of medical data can be time-consuming.</h3>

            <h3 class="text-2xl font-bold my-5">9. Streamlining the diagnostic process can reduce healthcare costs.</h3>

            <h3 class="text-2xl font-bold my-5">10.The adoption of AI can revolutionize thyroid disorder diagnosis.</h3>

            

            
           
            
              
            
            
                </div>
            
              </div>
         </div>
    </div>
    
  </div>
 
{% endblock content %}

